# Auto detect text files and perform LF normalization
* text=auto

# Unity files
*.cs text diff=csharp
*.shader text
*.cginc text
*.hlsl text
*.compute text
*.asmdef text
*.meta text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.tga binary
*.tif binary
*.tiff binary
*.fbx binary
*.obj binary
*.wav binary
*.mp3 binary
*.ogg binary
*.anim binary
*.controller binary
*.overrideController binary
*.physicMaterial binary
*.physicsMaterial2D binary
*.asset binary
*.unity binary
*.prefab text
*.mat text